:root {
    --background-color-primary: hsl(0, 0%, 98%);
    // --background-color-secondary: #fafafa;
    --accent-color: #cacaca;
    --text-primary-color: hsl(200, 15%, 8%);
    --opposite-color:#1e1e1e;
  }
  
  /* Define styles for the root window with dark - mode preference */
  :root.dark-theme {
    --background-color-primary: hsl(207, 26%, 17%);
    // --background-color-secondary: #2d2d30;
    --accent-color: #3f3f3f;
    --text-primary-color: hsl(0, 0%, 100%);
    --opposite-color:#ebebeb;
  }

  
body {
  background-color: var(--background-color-primary);
  color: var(--text-primary-color);
  transition: background .5s ease-out;
}